.roprime-settings-wrapper,
.roprime-settings-wrapper *,
#react-user-account-base > #rp-settings-inner,
#react-user-account-base > #rp-settings-inner *,
#roprime-standalone-settings,
#roprime-standalone-settings *,
#roprime-home-welcome-root,
#roprime-home-welcome-root *,
#left-navigation-container.roprime-old-navigation-bar,
#left-navigation-container.roprime-old-navigation-bar * {
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
