.verify-email-container {
  background-color: transparent;
}

html
  body:has(
    main.container-main[data-rovalra-sidebar-collapse-ready="true"][data-rovalra-sidebar-layout-active="true"]
  ) {
  main.container-main[data-rovalra-sidebar-collapse-ready="true"][data-rovalra-sidebar-layout-active="true"] {
    box-sizing: inherit;
    margin-left: var(--left-nav-reserved-width) !important;
    width: calc(100% - var(--left-nav-reserved-width)) !important;
  }
}

.icon-presence.icon-studio {
  position: relative;
  z-index: 2;
}

.icon-presence.roseal-offline-icon {
  position: relative;
  z-index: 2;
}

.nav-minimise-button {
  display: none !important;
}

#rovalra-sidebar-collapse-button {
  display: none !important;
}

#rovalra-sidebar-layout-button {
  display: none !important;
}

.currently-wearing-avatar-with-background {
  display: none !important;
}

.currently-wearing-avatar-with-background + .profile-header-overlay {
  margin-top: 70px !important;
}

#app-bumper-main {
  display: none !important;
}
