.verify-email-container {
  background-color: transparent;
}

html
  body:has(
    main.container-main[data-rovalra-sidebar-collapse-ready="true"][data-rovalra-sidebar-layout-active="true"]
  ) {
  main.container-main[data-rovalra-sidebar-collapse-ready="true"][data-rovalra-sidebar-layout-active="true"] {
    box-sizing: inherit;
    margin-left: var(--left-nav-reserved-width) !important;
    width: calc(100% - var(--left-nav-reserved-width)) !important;
  }
}

.icon-presence.icon-studio {
  position: relative;
  z-index: 2;
}

.icon-presence.roseal-offline-icon {
  position: relative;
  z-index: 2;
}

.nav-minimise-button {
  display: none !important;
}

#rovalra-sidebar-collapse-button {
  display: none !important;
}

#rovalra-sidebar-layout-button {
  display: none !important;
}

/* android layout */

#app-bumper-main {
  display: none !important;
}

/* roblox plus free themes */

[data-testid="app-theme-upsell"] {
  display: none !important;
}

[data-testid="app-theme-card"] .icon-regular-roblox-plus {
  display: none !important;
}

/* groups viewer fixes */

.groups-list-sidebar {
  border-left: none !important;
}

/* fix for roblox's dropdown with light theme without actually breaking shadows */

.friend-tile-dropdown,
.in-game-friend-card--iarc {
  border-radius: 5px !important;
}

/* fix for legacy roblox dropdowns divider  */

.friend-tile-dropdown ul li:first-child button {
  border-top: none;
}

/* fix for https://www.roblox.com/my/messages corners because Roblox didn't 
* and tried to apply .overflow-hidden (probably not noticed)
*/

.menu-vertical,
.menu-secondary-container,
.menu-secondary {
  overflow: visible !important;
}

.private-message-page > :nth-child(4) > :first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.private-message-page > :nth-child(4) > :last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Support for Roblox Plus themes colors on sliders across Roblox website */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
}

/* Hide sidebar separator when there is a slider in a sidebar
*
* :root:has(.width-\[288px\] .roseal-events-nav, .width-\[288px\] .roblox-events a:nth-of-type(2)) .width-\[289px\] div[role="separator"][data-orientation="vertical"] {
* display: none !important;
* }
*/
